.text-page-container {
  overflow: auto;
  h1 {
    font-weight: bold;
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  ul,
  ol {
    padding-left: 20px;
  }
  * {
    color: white;
  }
  .row {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url("../../assets/images/text_bg_top.svg"),
      url("../../assets/images/text_bg_bottom.svg");
    background-position: center top, center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat, no-repeat;
  }
  .logos-img {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
  }
}
