@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.exercise-list {
  max-width: 1200px;
  .row {
    padding-top: 100px;
    padding-bottom: 30px;
    .col-8 {
      > div {
        padding-right: 40px;
        padding-bottom: 30px;
        overflow-y: scroll;
        .exercise-container {
          background: $biodiversity-light-green;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
          border-radius: 10px;
          margin-bottom: 20px;
          padding: 40px;

          * {
            color: $primary-text-light;
          }
        }
      }
      > div::-webkit-scrollbar {
        width: 10px;
      }

      > div::-webkit-scrollbar-track {
        background: transparent;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
      }

      > div::-webkit-scrollbar-thumb {
        background: $biodiversity-light-green !important;
        border-radius: 7px;
      }
    }
    .exercise-btn {
      background: $biodiversity-text-bg-green;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
      border: none;
      border-radius: 10px;
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.3rem;
      padding: 40px;
      text-align: center;
      text-transform: uppercase;
      &:focus,
      &.active {
        color: $primary-text-light;
        background: $biodiversity-light-green;
      }
      @include media-breakpoint-down(lg) {
        padding: 20px;
      }
    }
  }
  i {
    font-size: 1rem;
  }
  ol,
  ul {
    padding-left: 30px;
    margin-top: 0px;
    li {
      margin-bottom: 0px;
      font-size: 1rem;
    }
  }
  a span,
  a {
    font-weight: bold;
    text-decoration: underline !important;
  }

  .back-to-chapter-btn {
    width: fit-content;
    display: block;
    margin: auto;
    padding: 5px 50px;
    text-decoration: none !important;
  }
}
