// fonts

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$headings-font-family: "Lato", sans-serif;
$body-font-family: "Lato", sans-serif;

// colours
$nav-background: #3b8250;
$primary-text-light: #fafcff;
$primary-text-dark: #001833;

// introduction

$welcome-pages-dark-green: #294c35;
$welcome-pages-bg-green: #3c8250;
$welcome-pages-mint-green: #e0f4ec;
$welcome-pages-orange: #e0b370;
$welcome-pages-yellow: #faf6c5;

// biodiversity

$biodiversity-dark-green: #294c35;
$biodiversity-frame-green: #336342;
$biodiversity-bg-green: #3c8250;
$biodiversity-light-green: #5eb36e;
$biodiversity-text-bg-green: #e0f4ec;

//heat

$heat-dark-purple: #6b3e5f;
$heat-frame-purple: #875387;
$heat-dark-red: #ad4d68;
$heat-light-red: #e06371;
$heat-yellow: #f9bd74;
$heat-light-yellow: #fbebca;

//water

$water-dark-blue: #4242d3;
$water-frame-blue: #5566e8;
$water-mid-blue: #6284ea;
$water-light-blue: #b2d7fa;
$water-text-bg-blue: #e6f6ff;

//air

$air-dark-brown: #77352a;
$air-light-brown: #964c39;
$air-orange: #cc6132;
$air-yellow: #f7c33a;
$air-text-bg-yellow: #fbebca;

//noise

$noise-dark-purple: #4b468c;
$noise-purple: #5a569e;
$noise-mid-purple: #8860b2;
$noise-light-purple: #caa5da;
$noise-text-bg-purple: #ffeff4;
