@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.biodiversity-ex-post-container {
  .row {
    .col-8 {
      > div {
        .exercise-container {
          background: $biodiversity-light-green !important;
          * {
            color: $primary-text-light !important;
          }
        }
      }
      > div::-webkit-scrollbar-thumb {
        background: $biodiversity-light-green !important;
      }
    }
    .exercise-btn {
      background: $biodiversity-text-bg-green !important;
      &:focus,
      &.active {
        color: $primary-text-light !important;
        background: $biodiversity-light-green !important;
      }
    }
  }
  .back-to-chapter-btn {
    background-color: $biodiversity-text-bg-green !important;
    color: $biodiversity-dark-green !important;
    &:focus,
    &:hover {
      background-color: $biodiversity-light-green !important;
      color: $biodiversity-text-bg-green !important;
    }
  }
}
