@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.air-ex-post-container {
  background-color: $air-light-brown !important;
  .exercise-list {
    .row {
      .col-8 {
        > div {
          .exercise-container {
            background: $air-orange;
            * {
              color: $air-text-bg-yellow !important;
            }
          }
        }

        > div::-webkit-scrollbar-thumb {
          background: $air-orange !important;
        }
      }
      .exercise-btn {
        background: $air-text-bg-yellow !important;
        color: $primary-text-dark !important;
        &:focus,
        &.active {
          color: $air-text-bg-yellow !important;
          background: $air-orange !important;
        }
      }
    }
  }

  .back-to-chapter-btn {
    background-color: $air-text-bg-yellow !important;
    color: $air-orange !important;
    &:focus,
    &:hover {
      background-color: $air-orange !important;
      color: $air-text-bg-yellow !important;
    }
  }
}
