@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.water-ex-post-container {
  background-color: $water-frame-blue !important;
  .exercise-list {
    .row {
      .col-8 {
        > div {
          .exercise-container {
            background: $water-mid-blue !important;
            * {
              color: $water-text-bg-blue !important;
            }
          }
        }

        > div::-webkit-scrollbar-thumb {
          background: $water-mid-blue !important;
        }
      }
      .exercise-btn {
        background: $water-text-bg-blue !important;
        color: $primary-text-dark !important;
        &:focus,
        &.active {
          color: $water-text-bg-blue !important;
          background: $water-mid-blue !important;
        }
      }
    }
  }
  .back-to-chapter-btn {
    background-color: $water-text-bg-blue !important;
    color: $primary-text-dark !important;
    &:focus,
    &:hover {
      background-color: $water-mid-blue !important;
      color: $water-text-bg-blue !important;
    }
  }
}
