@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.noise-ex-post-container {
  background-color: $noise-dark-purple;
  .exercise-list {
    .row {
      .col-8 {
        > div {
          .exercise-container {
            background: $noise-light-purple !important;
            * {
              color: $noise-text-bg-purple !important;
            }
          }
        }

        > div::-webkit-scrollbar-thumb {
          background: $noise-light-purple !important;
        }
      }
      .exercise-btn {
        background: $noise-text-bg-purple !important;
        color: $primary-text-dark !important;
        &:focus,
        &.active {
          color: $noise-text-bg-purple !important;
          background: $noise-light-purple !important;
        }
      }
    }
  }

  .back-to-chapter-btn {
    background-color: $noise-text-bg-purple !important;
    color: $noise-dark-purple !important;
    &:focus,
    &:hover {
      background-color: $noise-light-purple !important;
      color: $noise-text-bg-purple !important;
    }
  }
}
