@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.heat-ex-post-container {
  background-color: $heat-dark-red;
  .exercise-list {
    .row {
      .col-8 {
        > div {
          .exercise-container {
            background: $heat-light-red !important;
            * {
              color: $heat-light-yellow !important;
            }
          }
        }

        > div::-webkit-scrollbar-thumb {
          background: $heat-light-red !important;
        }
      }
      .exercise-btn {
        background: $heat-light-yellow !important;
        color: $primary-text-dark !important;
        &:focus,
        &.active {
          color: $heat-light-yellow !important;
          background: $heat-light-red !important;
        }
      }
    }
  }
  .back-to-chapter-btn {
    background-color: $heat-light-yellow !important;
    color: $heat-light-red !important;
    &:focus,
    &:hover {
      background-color: $heat-light-red !important;
      color: $heat-light-yellow !important;
    }
  }
}
