@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.biodiversity-post-container {
  background-color: $biodiversity-frame-green;
  .carousel {
    .carousel-indicators {
      li {
        background-color: $biodiversity-light-green;
        background-image: url(./images/biodiversity-checked-symbole.svg);
        &:before {
          background-color: black;
        }
        &:not(:first-child) {
          &:after {
            background-color: $biodiversity-dark-green;
          }
        }
      }
      .active ~ li {
        background-image: none;
        background-color: $biodiversity-dark-green;
        opacity: 1;
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: $biodiversity-dark-green;

      span {
        display: block;
        margin: 0;
      }
    }
    .carousel-control-prev {
      background-image: url("./images/arrow-prev.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    .carousel-control-next {
      background-image: url("./images/arrow-next.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .open-modal-btn {
    background-color: $biodiversity-dark-green;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $biodiversity-dark-green;
      }
    }
  }

  .eboti-text-bubble {
    background-color: $biodiversity-text-bg-green;
  }

  .close-eboti-text-bubble-btn {
    background-color: $biodiversity-dark-green !important;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $biodiversity-dark-green;
      }
    }
  }
  .summary-container {
    background-color: $biodiversity-bg-green;
    background-image: url("./images/last_slide_background.svg ");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .back-to-carousel-btn,
  .go-to-summary-btn {
    background-color: $biodiversity-dark-green !important;
    &:focus {
      border: none !important;
      &:before {
        border: 1px solid $biodiversity-text-bg-green;
      }
    }
  }

  .label-desktop {
    border: 1px solid $biodiversity-light-green;
    color: $biodiversity-light-green;
  }

  .custom-modal {
    background-color: $biodiversity-text-bg-green !important;
  }

  .btn-modal-close {
    background-color: $biodiversity-dark-green !important;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $biodiversity-dark-green;
      }
    }
  }
  .modal-text::-webkit-scrollbar-thumb {
    background: $biodiversity-dark-green !important;
  }

  .pop-up-text-container {
    background-color: $biodiversity-text-bg-green;
  }

  //------------- positions of pop up texts -------------------

  // different genes
  .slide-0.pop-up-text-0 {
    top: 25%;
    left: 35%;
    .pop-up-text-container {
      margin-left: -100px;
    }
  }

  // many different animals and plants
  .slide-0.pop-up-text-1 {
    top: 67%;
    left: 30%;
    .pop-up-text-container {
      margin-left: -100px;
      margin-top: -50px;
    }
  }

  // different habitats
  .slide-0.pop-up-text-2 {
    top: 25%;
    left: 75%;
    .pop-up-text-container {
      margin-left: -150px;
    }
  }

  // nature helps
  .slide-1.pop-up-text-0 {
    top: 25%;
    left: 15%;
  }

  // nature provides food and energy
  .slide-1.pop-up-text-1 {
    top: 25%;
    left: 70%;
    .pop-up-text-container {
      margin-left: -150px;
    }
  }

  // nature cleanses
  .slide-1.pop-up-text-2 {
    top: 67%;
    left: 65%;
    .pop-up-text-container {
      margin-left: -100px;
      margin-top: -50px;
    }
  }

  // nature is fun
  .slide-1.pop-up-text-3 {
    top: 67%;
    left: 15%;
    .pop-up-text-container {
      margin-left: -100px;
      margin-top: -100px;
    }
  }

  // life in the city
  .slide-2.pop-up-text-0 {
    top: 60%;
    left: 55%;
  }

  // enemies of clean air
  .slide-2.pop-up-text-1 {
    top: 30%;
    left: 30%;
  }

  // noisy sounds
  .slide-2.pop-up-text-2 {
    top: 15%;
    left: 40%;
    .pop-up-text-container {
      margin-left: -100px;
      margin-top: -50px;
    }
  }

  // hot city
  .slide-2.pop-up-text-3 {
    top: 30%;
    left: 60%;
    .pop-up-text-container {
      margin-left: -100px;
      margin-top: -100px;
    }
  }

  // giant puddles
  .slide-2.pop-up-text-4 {
    top: 50%;
    left: 70%;
    .pop-up-text-container {
      margin-left: -100px;
      margin-top: -100px;
    }
  }

  // pocket park
  .slide-5.pop-up-text-0 {
    top: 20%;
    left: 45%;
    .pop-up-text-container {
      margin-left: -100px;
    }
  }

  // recreational park
  .slide-5.pop-up-text-1 {
    top: 60%;
    left: 15%;
    .pop-up-text-container {
      margin-left: -100px;
    }
  }

  // sports ground
  .slide-5.pop-up-text-2 {
    top: 75%;
    left: 40%;
    .pop-up-text-container {
      margin-left: -100px;
      margin-top: -100px;
    }
  }

  // cemetery
  .slide-5.pop-up-text-3 {
    top: 60%;
    left: 85%;
    .pop-up-text-container {
      margin-left: -300px;
    }
  }

  // playground
  .slide-5.pop-up-text-4 {
    top: 15%;
    left: 85%;
    .pop-up-text-container {
      margin-left: -300px;
    }
  }

  // schoolyard
  .slide-5.pop-up-text-5 {
    top: 15%;
    left: 25%;
    .pop-up-text-container {
      margin-left: 0px;
    }
  }
}
