@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.water-post-container {
  background-color: $water-frame-blue;
  .carousel {
    .carousel-indicators {
      li {
        background-color: $water-light-blue;
        background-image: url(./images/biodiversity-checked-symbole.svg);
        &:not(:first-child) {
          &:after {
            background-color: $water-dark-blue;
          }
        }
      }
      .active ~ li {
        background-color: $water-dark-blue;
        background-image: none;
        opacity: 1;
        &:before {
          opacity: 0;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: $water-dark-blue;

      span {
        display: block;
        margin: 0;
      }
    }
    .carousel-control-prev {
      background-image: url("./images/arrow-prev.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    .carousel-control-next {
      background-image: url("./images/arrow-next.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .open-modal-btn {
    background-color: $water-dark-blue;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $water-dark-blue;
      }
    }
  }

  .eboti-text-bubble {
    background-color: $water-text-bg-blue;
  }

  .close-eboti-text-bubble-btn {
    background-color: $water-dark-blue !important;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $water-dark-blue;
      }
    }
  }
  .summary-container {
    background-color: $water-dark-blue;
    background-image: url("./images/last_slide_background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .back-to-carousel-btn,
  .go-to-summary-btn {
    background-color: $water-dark-blue !important;
    svg {
      path {
        stroke: $water-light-blue;
      }
    }
    &:focus {
      border: none !important;
      &:before {
        border: 1px solid $water-text-bg-blue;
      }
    }
  }

  .label-desktop {
    border: 1px solid $water-light-blue;
    background-color: $water-light-blue;
    color: $primary-text-light;
  }

  .custom-modal {
    background-color: $water-text-bg-blue !important;
  }

  .btn-modal-close {
    background-color: $water-dark-blue !important;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $water-dark-blue;
      }
    }
  }
  .modal-text::-webkit-scrollbar-thumb {
    background: $water-dark-blue !important;
  }

  .cover-img {
    margin-top: -200px;
    margin-left: -140px;
    width: 140% !important;
    max-width: 290% !important;
  }

  .text-bubble-icon {
    .bubble {
      path,
      circle {
        fill: $water-mid-blue !important;
      }
    }
    circle {
      stroke: $water-light-blue !important;
    }
    .icon {
      fill: $water-light-blue !important;
    }
  }
  .pop-up-text-container {
    background-color: $water-text-bg-blue;
  }

  //------------- positions of pop up texts -------------------

  // a lake
  .slide-1.pop-up-text-0 {
    top: 80%;
    left: 30%;
    z-index: 5;
    .pop-up-text-container {
      margin-top: -100px;
    }
  }

  // a pond
  .slide-1.pop-up-text-1 {
    top: 80%;
    left: 60%;
    z-index: 4;
    .pop-up-text-container {
      margin-top: -100px;
      margin-left: -100px;
    }
  }

  // a river
  .slide-1.pop-up-text-2 {
    top: 60%;
    left: 10%;
    .pop-up-text-container {
      margin-top: -100px;
    }
  }

  // A canal
  .slide-1.pop-up-text-3 {
    top: 65%;
    left: 50%;
    .pop-up-text-container {
      margin-top: -100px;
    }
  }
}
