.slide-container {
  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .custom-modal {
    position: absolute;
    // right: -50vw;
    // top: 100vh;
    // transform: rotate(-90deg);
    height: 100%;
    width: 50%;
    display: none;
    background-color: white;
    z-index: 10;
    padding: 50px;
    flex-direction: column;
    transition: all 1s;
    box-shadow: -5px 2px 15px -3px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: -5px 2px 15px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: -5px 2px 15px -3px rgba(0, 0, 0, 0.37);

    .header {
      margin-bottom: 30px;
    }

    .modal-text {
      height: 65%;
      overflow-y: auto;
      p {
        padding-right: 20px;
      }
    }
    /* width */
    .modal-text::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 7px;
    }

    /* Handle */
    .modal-text::-webkit-scrollbar-thumb {
      background: darkblue;
      border-radius: 7px;
    }
  }

  .show {
    display: flex;
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes show {
  from {
    right: -50vw;
    top: 100vh;
    height: 100%;
    transform: rotate(-90deg);
    display: none;
  }
  to {
    right: 0vw;
    top: 0vh;
    transform: rotate(0deg);
    display: flex;
  }
}

.interaction-container {
  z-index: 3;
}

.interaction-btn {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.pop-up-text-container {
  background-color: white;
  padding: 22px 15px;
  border-radius: 15px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
  width: 330px;
  position: absolute;
  z-index: 5;
  p {
    margin-bottom: 0px;
  }
}

.btn-modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    position: relative;
  }
}
