@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 99;
  font-size: 20px;
  font-weight: bold;
  p {
    a {
      color: white;
    }
  }
  .logo-link {
    width: fit-content;
    display: block;
    p {
      margin-top: -15px;
      margin-right: 20px;
      margin-left: auto;
      color: $biodiversity-text-bg-green;
      font-style: italic;
      font-weight: bold;
    }
  }
  .language-picker {
    position: relative;
    width: 8rem;
    .dropdown-menu {
      display: flex;
      flex-direction: column;
      width: 8rem;
      width: fit-content;
      .dropdown-item {
        padding: 0;
        width: fit-content;
        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }
        &:focus {
          background-color: transparent !important;
          border: none !important;
          border-bottom: 1px solid black !important;
        }
      }
    }
    .dropdown-toggle {
      &:focus {
        &::before {
          content: "";
          position: absolute;
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          top: -5px;
          left: -5px;
          z-index: 1;
          border: 1px solid white;
          border-radius: 5px;
        }
      }
    }
  }
}

.toggle-nav-button.btn-primary {
  width: 50px;
  height: 50px;
  background-color: white !important;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border: none !important;
  cursor: pointer;
  .bar {
    width: 25px;
    height: 2px;
    border-radius: 7px;
    background-color: black;
    margin: 0px !important;
  }
  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    &:after {
      content: "";
      width: 60px;
      height: 60px;
      position: absolute;
      top: -5 px;
      left: -5px;
      z-index: 1;
      border: 1px solid white;
      border-radius: 50%;
    }
  }
}
.toggle-nav-button.is-open {
  .bar:nth-of-type(2) {
    display: none;
  }
  .bar:nth-of-type(1) {
    transform: rotate(45deg);
  }
  .bar:nth-of-type(3) {
    transform: rotate(-45deg);
  }
  .bar {
    position: absolute;
    left: center;
    top: center;
  }
}

.language-picker {
  button {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
  }
  .dropdown-toggle {
    &:after {
      margin-left: 15px;
    }
  }
}

.logo {
  height: 80px;
  @include media-breakpoint-down(lg) {
    height: 60px;
  }
}

// ----------- toggle nav button & language picker color based on chosen chapter theme ------

.theme-noise {
  .toggle-nav-button.btn-primary {
    background-color: $noise-text-bg-purple !important;
    .bar {
      background-color: $noise-purple;
    }
  }
  .language-picker {
    button {
      color: $noise-purple;
      background-color: $noise-text-bg-purple;
    }
    .dropdown-menu {
      background-color: $noise-text-bg-purple;
      flex-direction: column;
      a {
        color: $noise-purple !important;
        &:focus {
          border-bottom: 1px solid $noise-purple !important;
        }
      }
    }
  }
}

.theme-biodiversity {
  .toggle-nav-button.btn-primary {
    background-color: $biodiversity-text-bg-green !important;
    .bar {
      background-color: $biodiversity-dark-green;
    }
  }
  .language-picker {
    button {
      color: $biodiversity-dark-green;
      background-color: $biodiversity-text-bg-green;
    }
    .dropdown-menu {
      background-color: $biodiversity-text-bg-green;
      a {
        color: $biodiversity-dark-green !important;
        &:focus {
          border-bottom: 1px solid $biodiversity-dark-green !important;
        }
      }
    }
  }
}

.theme-air {
  .toggle-nav-button.btn-primary {
    background-color: $air-text-bg-yellow !important;
    .bar {
      background-color: $air-dark-brown;
    }
  }
  .language-picker {
    button {
      color: $air-dark-brown;
      background-color: $air-text-bg-yellow;
    }
    .dropdown-menu {
      background-color: $air-text-bg-yellow;
      a {
        color: $air-dark-brown !important;
        &:focus {
          border-bottom: 1px solid $air-dark-brown !important;
        }
      }
    }
  }
}

.theme-heat {
  .toggle-nav-button.btn-primary {
    background-color: $heat-light-yellow !important;
    .bar {
      background-color: $heat-dark-purple;
    }
  }
  .language-picker {
    button {
      color: $heat-dark-purple;
      background-color: $heat-light-yellow;
    }
    .dropdown-menu {
      background-color: $heat-light-yellow;
      a {
        color: $heat-dark-purple !important;
        &:focus {
          border-bottom: 1px solid $heat-dark-purple !important;
        }
      }
    }
  }
}

.theme-water {
  .toggle-nav-button.btn-primary {
    background-color: $water-text-bg-blue !important;
    .bar {
      background-color: $water-dark-blue;
    }
  }
  .language-picker {
    button {
      color: $water-dark-blue;
      background-color: $water-text-bg-blue;
    }
    .dropdown-menu {
      background-color: $water-text-bg-blue;
      a {
        color: $water-dark-blue !important;
        &:focus {
          border-bottom: 1px solid $water-dark-blue !important;
        }
      }
    }
  }
}
