@import "../../../assets/scss/bootstrap";
@import "../../../assets/scss/variables";

.summary-container {
  .text {
    > div {
      margin-bottom: 30px;
    }
  }
  .btn-primary {
    padding: 10px 25px;
    background-color: $primary-text-light !important;
    color: $primary-text-dark !important;
    border-color: $primary-text-light !important;
    &:focus {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        border-radius: 30px;
        border: 1px solid $primary-text-light;
      }
    }
  }
}
