.btn-primary {
  background-color: $primary-text-dark !important;
  color: $white !important;
  border: none !important;
  border-radius: 30px !important;
  &.outline {
    color: $primary-text-dark !important;
    background-color: $white !important;
  }
}

.open-modal-btn {
  display: flex;
  align-items: center;
  &:hover {
    color: white !important;
  }
}

.btn-modal-close {
  height: 30px;
  width: 30px;
  border-radius: 50% !important;
  padding: 0px !important;
  &:focus {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      border-radius: 50%;
    }
  }
}

.back-to-carousel-btn {
  position: absolute;
  left: 50px;
  top: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  &:focus {
    border: none !important;
    &:before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      border-radius: 50%;
    }
  }
}
.go-to-summary-btn {
  position: absolute;
  right: calc(15vw / 2 - 60px);
  top: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  z-index: 21;
  &:focus {
    border: none !important;
    &:before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      border-radius: 50%;
    }
  }
  // @include media-breakpoint-down(lg) {
  //   right: calc(-15vw / 2 + 60px);
  // }
}
