.carousel {
  position: inherit !important;
  .carousel-item {
    > div {
      background-size: cover;
      background-position: 0 0;
    }
  }
  .carousel-indicators {
    bottom: 5%;
    border-radius: 20px;
    width: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -70px;
    transition: all 1s;
    @include media-breakpoint-down(xl) {
      bottom: 14%;
    }
    @include media-breakpoint-down(md) {
      bottom: 14%;
    }
    li {
      margin: 0px;
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: $primary-text-dark;
      background-size: 55%;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
      position: relative;
      &:not(:first-child) {
        &:after {
          content: "";
          width: 30px;
          height: 2px;
          background-color: $primary-text-dark;
          position: absolute;
          top: 50%;
          left: -100%;
          z-index: -1;
          transition: width 1s;
        }
      }
    }
    .active ~ li {
      opacity: 0.5;
      &:before {
        opacity: 0;
      }
      // &:not(:first-child) {
      //   &:after {
      //     width: 0%;
      //   }
      // }
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: flex !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: darkblue;
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    span {
      display: block;
      margin: 0;
    }
    &:focus {
      border: none !important;
      &::before {
        content: "";
        position: absolute;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        top: -5px;
        left: -5px;
        z-index: 1;
        border: 1px solid white;
        border-radius: 5px;
        border-radius: 50%;
      }
    }
  }
  .carousel-control-prev {
    left: 50px;
    top: 50%;
    @include media-breakpoint-down(lg) {
      left: 30px;
    }
    .carousel-control-prev-icon {
      display: none !important;
    }
  }
  .carousel-control-next {
    right: 50px;
    top: 50%;
    z-index: 21;
    @include media-breakpoint-down(lg) {
      right: 30px;
    }
    .carousel-control-next-icon {
      display: none !important;
    }
  }
}
.carousel.modal-is-open {
  .carousel-indicators {
    margin-left: 10vw;
    margin-right: auto;
  }
}

.noise-post-container,
.air-post-container,
.water-post-container,
.heat-post-container,
.biodiversity-post-container {
  .carousel-inner {
    width: calc(25vw * 1.8067);
    height: 25vw;
    border-radius: 15px;
    overflow: hidden;
    transform: translateZ(0);
    position: relative;

    // 992px
    @include media-breakpoint-down(lg) {
      width: calc(45vw * 1.8067);
      height: 45vw;
    }
    // 1200px
    @include media-breakpoint-down(xl) {
      width: calc(55vw * 1.8067);
      height: 55vw;
    }
    // 1400px
    @include media-breakpoint-down(xxl) {
      width: calc(40vw * 1.8067);
      height: 40vw;
    }

    &:after {
      content: "";
      box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.4);
      background-color: transparent;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
    }
    .carousel-item {
      width: 100%;
      height: 100%;
      > div {
        height: 100%;
        width: 100%;
        .slide-container {
          height: 100%;
          width: 100%;
          .animation {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

.summary-container {
  .text {
    * {
      color: $primary-text-light;
    }
  }
}
