.CookieConsent {
  background-color: #e0f4ec !important;
  display: flex !important;
  align-items: center !important;
  color: #001833 !important;
  a {
    color: #001833 !important;
    text-decoration: underline;
  }
}

#rcc-decline-button {
  background-color: transparent !important;
  border: 1px solid #336342 !important;
  border-radius: 30px !important;
  color: #336342 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#rcc-confirm-button {
  background-color: #336342 !important;
  color: #e0f4ec !important;
  border-radius: 30px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.theme-air {
  .CookieConsent {
    background-color: $air-text-bg-yellow !important;
  }
  #rcc-confirm-button {
    background-color: $air-dark-brown !important;
    color: $air-text-bg-yellow !important;
  }
  #rcc-decline-button {
    border: 1px solid $air-dark-brown !important;
    color: $air-dark-brown !important;
  }
}

.theme-heat {
  .CookieConsent {
    background-color: $heat-light-yellow !important;
  }
  #rcc-confirm-button {
    background-color: $heat-dark-purple !important;
    color: $heat-light-yellow !important;
  }
  #rcc-decline-button {
    border: 1px solid $heat-dark-purple !important;
    color: $heat-dark-purple !important;
  }
}

.theme-noise {
  .CookieConsent {
    background-color: $noise-text-bg-purple !important;
  }
  #rcc-confirm-button {
    background-color: $noise-dark-purple !important;
    color: $noise-text-bg-purple !important;
  }
  #rcc-decline-button {
    border: 1px solid $noise-dark-purple !important;
    color: $noise-dark-purple !important;
  }
}

.theme-water {
  .CookieConsent {
    background-color: $water-text-bg-blue !important;
  }
  #rcc-confirm-button {
    background-color: $water-dark-blue !important;
    color: $water-text-bg-blue !important;
  }
  #rcc-decline-button {
    border: 1px solid $water-dark-blue !important;
    color: $water-dark-blue !important;
  }
}
