.wp-block-embed__wrapper {
  width: 100%;
}

.video {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video:before {
  content: '';
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  display: block;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
