body {
  * {
    font-size: 17px;
    font-family: $headings-font-family;
  }
}

h1 {
  //styleName: Desktop/H1 desktop;
  font-family: $headings-font-family;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-text-dark;

  @include media-breakpoint-down(lg) {
    //styleName: Tablet/Tablet H1;
    font-family: $headings-font-family;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }
}

h2 {
  //styleName: Desktop/H2 desktop;
  font-family: $headings-font-family;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-text-dark;

  @include media-breakpoint-down(lg) {
    //styleName: Tablet/Tablet H2;
    font-family: $headings-font-family;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
}

h3 {
  //styleName: Desktop/H3 desktop;
  font-family: $headings-font-family;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-text-dark;

  @include media-breakpoint-down(lg) {
    //styleName: Tablet/Tablet H3;
    font-family: $headings-font-family;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
}

h4 {
  //styleName: Desktop/H4 (Subheader) desktop;
  font-family: $headings-font-family;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-text-dark;

  @include media-breakpoint-down(lg) {
    //styleName: Tablet/Tablet H4;
    font-family: $headings-font-family;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
}

p {
  //styleName: Body text (desktop+tablet);
  font-family: $body-font-family;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-text-dark;
}

button {
  //styleName: Button (desktop+tablet);
  font-family: $body-font-family;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.menu-button {
  //styleName: Menu/Menu button (desktop+tablet);
  font-family: $body-font-family;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.small {
  //styleName: Small text (desktop+tablet);
  font-family: $body-font-family;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.label-desktop {
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  padding: 5px 15px;
  border: 1px solid darkblue;
  border-radius: 40px;
  width: fit-content;
  display: block;
}
