body {
  background-color: $nav-background !important;
  button,
  .btn-primary,
  a {
    &:focus {
      border: 1px solid white !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
  button.interaction-btn {
    border: none !important;
  }
}

h2 strong,
h2 span,
h2 b,
h2 {
  font-family: $body-font-family !important;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

h2 strong,
h2 span,
h2 b {
  font-weight: bold;
}

h3 strong,
h3 span,
h3 b,
h3 {
  font-family: $body-font-family !important;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
}

h3 strong,
h3 span,
h3 b {
  font-weight: bold;
}

p a {
  text-decoration: underline;
  position: relative;
  padding-right: 20px;
  white-space: nowrap;
  &:after {
    content: "";
    background-image: url("../images/external_white.png");
    background-size: contain;
    height: 18px;
    width: 18px;
    position: absolute;
    right: 0px;
    bottom: 0;
  }
  &:hover {
    color: white !important;
  }
}

.container-global-styling {
  height: 100vh;
  position: relative;
  .open-modal-btn {
    background-color: $white;
    height: 25px;
    width: 110px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 15px;
    background-color: darkblue;
    color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      color: white !important;
    }
    &:focus {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        border-radius: 30px;
      }
    }
  }
  .play-button {
    background-color: $white;
    bottom: 20px;
    right: 200px;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index: 1;
  }
}

.modal-dialog {
  margin-top: 0 !important;
  margin-right: 0 !important;
  width: auto;
  .modal-content {
    height: 100vh;
  }
}

.hide {
  display: none;
}

.eboti-text-bubble {
  width: 300px;
  background-color: white;
  position: absolute;
  z-index: 2;
  bottom: 130px;
  right: 230px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  @include media-breakpoint-down(lg) {
    bottom: 120px;
    right: 210px;
  }
}

.close-eboti-text-bubble-btn {
  height: 25px !important;
  width: 25px !important;
  padding: 3px !important;
  border-radius: 50%;
  display: block !important;
  border: none !important;
  &:focus {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      border-radius: 50%;
    }
  }
  svg {
    display: block;
    margin: auto;
  }
}

.open-text-bubble-btn.open-text-bubble-btn {
  position: absolute;
  bottom: 200px;
  right: 40px;
  background-color: transparent !important;
  border: none !important;
  z-index: 21;
}

.eboti {
  position: absolute;
  right: 40px;
  bottom: 20px;
  z-index: 20;
  height: 200px;
  @include media-breakpoint-down(lg) {
    bottom: 30px;
  }
}

#mobile {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    color: $white;
    margin-bottom: 50px;
    text-align: center;
  }
  #eboti_mobile__Layer_1 {
    width: 300px;
  }
}

@media (max-width: 950px) {
  header {
    display: none !important;
  }
  main {
    display: none !important;
  }
}

@media (orientation: portrait) {
  header {
    display: none !important;
  }
  main {
    display: none !important;
  }
}

@media (orientation: landscape) {
  #mobile {
    display: none !important;
  }
  @media (max-width: 950px) {
    #mobile {
      display: flex !important;
    }
  }
}

.custom-max-height {
  max-height: fill-available;
  max-height: -webkit-fill-available;
}
