@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.air-post-container {
  background-color: $air-light-brown;
  .carousel {
    .carousel-indicators {
      li {
        background-color: $air-yellow;
        background-image: url(./images/checked-symbole.svg);

        &:not(:first-child) {
          &:after {
            background-color: $air-dark-brown;
          }
        }
      }
      .active ~ li {
        background-color: $air-dark-brown;
        background-image: none;
        opacity: 1;
        &:before {
          opacity: 0;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: $air-dark-brown;

      span {
        display: block;
        margin: 0;
      }
    }
    .carousel-control-prev {
      top: 50%;
      background-image: url("./images/arrow-prev.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    .carousel-control-next {
      top: 50%;
      background-image: url("./images/arrow-next.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .open-modal-btn {
    background-color: $air-dark-brown;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $air-dark-brown;
      }
    }
  }

  .eboti-text-bubble {
    background-color: $air-text-bg-yellow;
  }

  .close-eboti-text-bubble-btn {
    background-color: $air-dark-brown !important;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $air-dark-brown;
      }
    }
  }
  .summary-container {
    background-color: $air-light-brown;
    background-image: url("./images/last_slide_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .back-to-carousel-btn,
  .go-to-summary-btn {
    background-color: $air-dark-brown !important;
    svg {
      path {
        stroke: $air-yellow;
      }
    }
    &:focus {
      border: none !important;
      &:before {
        border: 1px solid $air-text-bg-yellow;
      }
    }
  }

  .label-desktop {
    border: 1px solid $heat-yellow;
    color: $heat-yellow;
  }

  .custom-modal {
    background-color: $air-text-bg-yellow !important;
  }

  .btn-modal-close {
    background-color: $air-dark-brown !important;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $air-dark-brown;
      }
    }
  }
  .modal-text::-webkit-scrollbar-thumb {
    background: $air-dark-brown !important;
  }

  .cover-img {
    width: 120%;
    max-width: 150%;
  }

  .text-bubble-icon {
    .bubble {
      path,
      circle {
        fill: $air-dark-brown !important;
      }
    }
    circle {
      stroke: $air-text-bg-yellow !important;
    }
    .icon {
      fill: $air-text-bg-yellow !important;
    }
  }
}
