@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.noise-post-container {
  background-color: $noise-mid-purple;
  .carousel {
    .carousel-indicators {
      li {
        background-color: $noise-light-purple;
        background-image: url(./images/checked-symbole.svg);

        &:not(:first-child) {
          &:after {
            background-color: $noise-dark-purple;
          }
        }
      }
      .active ~ li {
        background-color: $noise-dark-purple;
        background-image: none;
        opacity: 1;
        &:before {
          opacity: 0;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: $noise-dark-purple;

      span {
        display: block;
        margin: 0;
      }
    }
    .carousel-control-prev {
      background-image: url("./images/arrow-prev.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    .carousel-control-next {
      background-image: url("./images/arrow-next.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .open-modal-btn {
    background-color: $noise-dark-purple;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $noise-dark-purple;
      }
    }
  }

  .eboti-text-bubble {
    background-color: $noise-text-bg-purple;
  }

  .close-eboti-text-bubble-btn {
    background-color: $noise-dark-purple !important;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $noise-dark-purple;
      }
    }
  }
  .summary-container {
    background-color: $noise-purple;
    background-image: url("./images/last_slide_background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .back-to-carousel-btn,
  .go-to-summary-btn {
    background-color: $noise-dark-purple !important;
    svg {
      path {
        stroke: $noise-light-purple;
      }
    }
    &:focus {
      border: none !important;
      &:before {
        border: 1px solid $noise-text-bg-purple;
      }
    }
  }

  .label-desktop {
    border: 1px solid $noise-dark-purple;
    background-color: $noise-dark-purple;
    color: $noise-text-bg-purple;
  }

  .custom-modal {
    background-color: $noise-text-bg-purple !important;
  }

  .btn-modal-close {
    background-color: $noise-dark-purple !important;
    &:focus {
      position: relative;
      &:before {
        border: 1px solid $noise-dark-purple;
      }
    }
  }
  .modal-text::-webkit-scrollbar-thumb {
    background: $noise-light-purple !important;
  }

  .text-bubble-icon {
    .bubble {
      path,
      circle {
        fill: $noise-dark-purple !important;
      }
    }
    circle {
      stroke: $noise-text-bg-purple !important;
    }
    .icon {
      fill: $noise-text-bg-purple !important;
    }
  }

  .pop-up-text-container {
    background-color: $noise-text-bg-purple;
  }

  //------------- positions of pop up texts -------------------

  // constant noise
  .slide-1.pop-up-text-0 {
    top: 24%;
    left: 13%;
    .pop-up-text-container {
      margin-top: 0px;
    }
  }

  // changing noise
  .slide-1.pop-up-text-1 {
    top: 45%;
    left: 30%;
    .pop-up-text-container {
      margin-top: 0px;
    }
  }

  // background noise
  .slide-1.pop-up-text-3 {
    top: 25%;
    left: 50%;
    .pop-up-text-container {
      margin-top: 0px;
    }
  }

  // background noise
  .slide-1.pop-up-text-2 {
    top: 65%;
    left: 50%;
    .pop-up-text-container {
      margin-top: 0px;
    }
  }

  // the nightingale turns up the volume
  .slide-2.pop-up-text-0 {
    top: 25%;
    left: 70%;
    .pop-up-text-container {
      margin-left: -150px;
    }
  }

  // green roofs
  .slide-4.pop-up-text-0 {
    top: 20%;
    left: 60%;
    .pop-up-text-container {
      margin-left: -150px;
    }
  }

  // green walls
  .slide-4.pop-up-text-1 {
    top: 70%;
    left: 20%;
    z-index: 5;
    .pop-up-text-container {
      margin-top: -150px;
    }
  }

  // green flower boxes
  .slide-4.pop-up-text-2 {
    top: 60%;
    left: 50%;
    .pop-up-text-container {
      margin-top: -150px;
    }
  }
}
