@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.introduction-slides {
  background-color: $welcome-pages-bg-green;
  background-image: url("./images/bg_img.svg");
  background-size: cover;
  background-position: center;

  .slide {
    height: 60vh;
    position: relative;
    .text {
      padding: 0px 0px 0px 100px;
      h2 {
        color: $welcome-pages-mint-green;
      }
    }
  }
  .carousel-item:first-of-type {
    .slide {
      .image {
        img {
          height: 900px;
          margin-top: -270px;
          margin-left: -160px;
          @include media-breakpoint-down(xl) {
            height: 850px;
            margin-top: -340px;
            margin-left: -230px;
          }
          @include media-breakpoint-down(lg) {
            height: 750px;
            margin-top: -340px;
            margin-left: -280px;
          }
        }
      }
    }
  }
  .carousel-item:nth-of-type(2) {
    .slide {
      .image {
        img {
          width: 80%;
        }
      }
    }
  }
  .carousel-item:nth-of-type(3) {
    .slide {
      .image {
        img {
          width: 80%;
          margin-left: 20px;
        }
      }
    }
  }

  .carousel {
    height: 100%;
    width: 100%;
    .carousel-inner {
      height: 100%;
      width: 100%;
      .carousel-item {
        overflow: hidden;
        height: 100%;
        width: 100%;
        > div {
          background-size: cover;
          background-position: 0 0;
        }
      }
    }
    .carousel-indicators {
      bottom: 20%;
      li {
        background-color: $welcome-pages-orange;
        background-image: url("./images/checked-symbole.svg");

        &:not(:first-child) {
          &:after {
            background-color: $welcome-pages-dark-green;
          }
        }
      }
      .active ~ li {
        background-color: $welcome-pages-dark-green;
        background-image: none;
        opacity: 1;
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: $welcome-pages-orange;

      span {
        display: block;
        margin: 0;
      }
    }
    .carousel-control-prev {
      background-image: url("./images/arrow-prev.svg");
      left: 20px;
      top: 50%;
    }
    .carousel-control-next {
      background-image: url("./images/arrow-next.svg");
      right: 20px;
      top: 50%;
    }
  }

  .open-nav-btn {
    padding: 10px 0;
    width: 120px;
    left: 25%;
    bottom: 30%;
    text-align: center;
    background-color: $welcome-pages-orange;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
  }
}
