.page-not-found-container {
  h1 {
    color: #e0f4eb;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    color: #e0f4eb;
    text-align: center;
    font-weight: bold;
  }
  .eboti {
    position: relative;
    bottom: 0px;
    right: auto;
    display: block;
    margin: auto;
  }
  .btn {
    background-color: #e0f4eb !important;
    border-color: #e0f4eb !important;
    color: #3b8250 !important;
    width: fit-content;
    padding: 5px 20px;
    margin: 20px auto;
    font-weight: bold;
    text-transform: uppercase;
  }
}
