@import "../../../../assets/scss/bootstrap";
@import "../../../../assets/scss/variables";

.eboti-intro {
  position: absolute;
  z-index: 10;
  width: 200px;
  right: 100px;
  bottom: 100px;
  @include media-breakpoint-down(lg) {
    width: 150px;
    height: auto;
    right: 80px;
    bottom: 140px;
  }
}
