@import "../../assets/scss/bootstrap";
@import "../../assets/scss/variables";

.nav {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  .nav-inner-wrap {
    width: 100vw;
    height: 100vh;
    background-color: $biodiversity-bg-green;
    background-image: url("../../assets/images/nav_bg.png");
    background-position: center;
    background-size: cover;
    padding-top: 7%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    .container {
      .col-12 {
        margin-bottom: 20px;
        .card {
          border-radius: 20px;
          height: 80px;
          width: 70%;
          padding: 3px;
          margin: auto;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
          .card-body {
            height: 100%;
            padding: 0px;
            .image-wrap {
              height: 100%;
              width: 80px;
              margin-right: 15px;
              margin-bottom: 10px;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 20px;
                box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.4);
                -webkit-box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.4);
              }
              img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .card-title {
              margin-bottom: 0px;
              font-size: 2rem;
              @include media-breakpoint-down(lg) {
                font-size: 1.3rem;
                font-weight: bold;
              }
            }
            .start-btn {
              display: flex;
              align-items: center;
              justify-content: end;
              width: 150px;
              margin-right: 20px;
              span {
                margin-left: 20px;
              }
              @include media-breakpoint-down(lg) {
                width: 120px;
              }
            }
            .go-to-exercises-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 150px;
              background-color: transparent !important;
              border: 1px solid !important;
              border-color: $biodiversity-dark-green;
              color: $biodiversity-dark-green !important;
              margin-right: 20px;
              font-weight: 400;
              @include media-breakpoint-down(lg) {
                width: 120px;
              }
            }
            .content-wrap {
              height: 100%;
            }
          }
          @include media-breakpoint-down(lg) {
            height: 70px;
          }
        }
      }
      .col {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin-bottom: 13px;
        }
      }
      .item-wrap {
        background-color: white;
      }
    }
  }
  .label-desktop {
    margin-bottom: 30px;
  }
  h1 {
    margin-bottom: 30px;
  }
}

.nav-logo-container {
  top: 0px;
  left: 15px;
  z-index: 30;
}

.main-nav-row {
  @include media-breakpoint-down(lg) {
    margin-top: -30px;
  }
}
.secondary-nav {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    color: white;
    margin: 0 10px;
  }
  @include media-breakpoint-down(lg) {
    bottom: 70px;
  }
}

// ---------- navigation cards styling ---------------

.nav-card-biodiversity {
  background-color: $biodiversity-light-green;
  color: $biodiversity-dark-green;
  .start-btn {
    background-color: $biodiversity-dark-green !important;
    border-color: $biodiversity-dark-green !important;
  }
  .go-to-exercises-btn {
    border-color: $biodiversity-dark-green !important;
  }
}

.nav-card-heat {
  background-color: $heat-frame-purple;
  color: $heat-light-red;
  .start-btn {
    background-color: $heat-light-red !important;
    border-color: $heat-light-red !important;
  }
  .go-to-exercises-btn {
    border-color: $heat-light-red !important;
  }
}

.nav-card-water {
  background-color: $water-light-blue;
  color: $water-mid-blue;
  .start-btn {
    background-color: $water-mid-blue !important;
    border-color: $water-mid-blue !important;
  }
  .go-to-exercises-btn {
    border-color: $water-mid-blue !important;
  }
}

.nav-card-air {
  background-color: $air-yellow;
  color: $air-dark-brown;
  .start-btn {
    background-color: $air-dark-brown !important;
    border-color: $air-dark-brown !important;
  }
  .go-to-exercises-btn {
    border-color: $air-dark-brown !important;
  }
}

.nav-card-noise {
  background-color: $noise-light-purple;
  color: $noise-dark-purple;
  .start-btn {
    background-color: $noise-dark-purple !important;
    border-color: $noise-dark-purple !important;
  }
  .go-to-exercises-btn {
    border-color: $noise-dark-purple !important;
  }
}
.open-chapter-btn {
  width: 130px;
}
// ---------- preview containers styling ---------------

.nav-prview-text-col {
  padding-right: 15% !important;
}

.preview-container-biodiversity {
  background-image: url("../../assets/nav-preview-images/biodiversity-bg-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  * {
    color: $primary-text-light;
  }
  .label-desktop {
    border-color: $biodiversity-dark-green;
    background-color: $biodiversity-dark-green;
  }
  .open-chapter-btn {
    background-color: $biodiversity-dark-green !important;
  }
  .box {
    background-color: $biodiversity-bg-green;
  }
  .preview-img {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("../../assets/nav-preview-images/biodiversity-preview-img.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.preview-container-heat {
  background-image: url("../../assets/nav-preview-images/heat-bg-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  * {
    color: $primary-text-light;
  }
  .label-desktop {
    border-color: $heat-yellow;
    background-color: transparent;
    color: $heat-yellow;
  }
  .open-chapter-btn {
    background-color: $heat-dark-red !important;
  }
  .box {
    background-color: $heat-dark-purple;
  }
  .preview-img {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 80px;
    left: 80px;
    background-image: url("../../assets/nav-preview-images/heat-preview-img.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include media-breakpoint-down(lg) {
      width: 30%;
      height: 30%;
      left: 20px;
    }
  }
}

.preview-container-water {
  background-image: url("../../assets/nav-preview-images/water-bg-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  * {
    color: $primary-text-light;
  }
  .label-desktop {
    border-color: $water-light-blue;
    background-color: transparent;
    color: $water-light-blue;
  }
  .open-chapter-btn {
    background-color: $water-dark-blue !important;
  }
  .box {
    background-color: $water-mid-blue;
  }
  .preview-img {
    width: 130%;
    height: 100%;
    margin-top: -50px;
    margin-left: -100px;
    background-image: url("../../assets/nav-preview-images/water-preview-img.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.preview-container-air {
  background-image: url("../../assets/nav-preview-images/air-bg-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  * {
    color: $primary-text-light;
  }
  .label-desktop {
    border-color: $air-orange;
    background-color: $air-orange;
    color: $primary-text-light;
  }
  .open-chapter-btn {
    background-color: $air-dark-brown !important;
  }
  .box {
    background-color: $air-orange;
  }
  .preview-img {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("../../assets/nav-preview-images/air-preview-img.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.preview-container-noise {
  background-image: url("../../assets/nav-preview-images/noise-bg-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  * {
    color: $primary-text-light;
  }
  .label-desktop {
    border-color: $noise-text-bg-purple;
    background-color: transparent;
    color: $noise-text-bg-purple;
  }
  .open-chapter-btn {
    background-color: $noise-dark-purple !important;
  }
  .box {
    background-color: $noise-mid-purple;
  }
  .preview-img {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("../../assets/nav-preview-images/noise-preview-img.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
